{% extends "auctions/layout.html" %}

{% block title %}
Categories search result
{% endblock %}

{% block body %}

<style>
    
    .card {
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform .2s;
        border: none;
    }
    
    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    }
    
    .card img {
        max-height: 200px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-body {
        padding: 15px;
        background-color: #fff;
    }

    .card-title {
        font-size: 20px;
        font-weight: 600;
    }
    
    .card-text {
        font-size: 16px;
    }
    
    .text-muted {
        font-size: 14px;
    }

    .card-price {
        color: #B12704;
        font-size: 18px;
        font-weight: 600;
    }
</style>
    <div class="container mt-3">
    <h2 class="text-center" style="margin-bottom: 50px;">{{title}}</h2>
    {% for item in item_in_category %}
    <div class="col-md-4">
        <div class="card" onclick="location.href='{% url 'listing' item.id %}';">
            <img src="{{item.url}}" class="card-img-top" alt="No Image has been uploaded for this listing">
            <div class="card-body">
                <p class="card-title">{{item.name}}</p>
                <p class="card-text">Price: ${{item.price}}</p>
                <p class="card-text"><small class="text-muted">Seller: {{item.user.username}}</small></p>
            </div>
        </div>
    </div>
    

    {% empty %} 
        There is no listing in this category
    {% endfor %}
    </div>
{% endblock %}   
